.button{
    background: #1e6f9f;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    padding: 0px 20px;
    justify-content: center;
    text-align: center;
    font-size: 0.7em;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    color: #f2f2f2;
    font-weight: 700;
    transition: background 0.3s ease-in 0s, box-shadow 0.1s ease 0s;
}
.button:hover {
    background: rgba(33, 107, 150, 0.879);
}
.button:active {
    box-shadow: 0 0 2px 2px rgba(26, 33, 53, 0.5) inset;
}