:root {
  --sizeMain: 24px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #f2f2f2;
  font-weight: 700;
  font-size: var(--sizeMain);
  background: #1a1a1a;
}
#root{
  min-height: 100%;
  overflow: hidden;
  padding: 50px 0;
}